<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />

    <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="css/new.css">

    <title>singal job page details!</title>
</head>

<body>
    <!---naveber-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container">
            <a class="navbar-brand" href="#">lgo</a>
            <button class="navbar-toggler hidden-lg-up" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Study Material </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contcat  </a>
                    </li>
                    
                </ul>
                
                
            </div>
        </div>
    </nav>
    <!---imge overly-->
    <div class="card bg-dark text-white">
        <img src="images/banner/b4.jpg" class="card-img" height="200" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
    <!--- main contain-->
    <div class="container-fluid mt-3">
        <div class="row">
            <!--first col-->
            <div class="col-md-3 col-sm-12">
                <!--1st div-->
                <div class="col-row-4">
                    <!---data change-->
                    <div class="list-group">
                        <h3 class="text-center">Study Material</h3>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">G.K
                            </a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Math
                            Jobs</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">History</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">G.I</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Computer</a>
                       
                        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Other
                            Jobs</a>

                    </div>

                    <!--data change-->
                </div>

                <!---1st column| 3rd row-->
                <div class="col-row-4 mt-2">
                    <!---data change-->
                    <div class="card text-white  " style="background-color:orangered;">
                        <img class="card-img-top" src="holder.js/100px180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">Text</p>
                        </div>
                    </div>

                    <!--data change-->
                </div>


                <!--1st column|3rd div-->
                <div class="col-row-4">
                    <!---data change-->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Search For State Jobs
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Indian States </h5>

                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="list-group">
                                        <h3 class="text-center">Category For Jobs</h3>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">West
                                            Bengal
                                            Jobs</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Andhra
                                            Pradesh
                                            Jobs</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Punjab
                                            Jobs</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Uttarakhand</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Chhattisgarh</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Karnataka</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Assam</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Maharashtra</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">haryana</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Tamil
                                            Nadu</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Jharkhand</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Tripura</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Bihar</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Kerala</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Goa</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Uttar
                                            Pradesh</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Gujarat</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Jammu
                                            & kashmir</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Rajasthan</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Odisha</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">sikkim</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Madhya
                                            Pradesh</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Meghalaya</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Manipur</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Himachal
                                            Pradesh</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Mizoram</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Nagaland</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">Telangna</a>
                                        <a href="#"
                                            class="list-group-item list-group-item-action list-group-item-primary">delhi</a>

                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--data change-->
                </div>









            </div>


            <!--seccend col-->
            <div class="col-md-6 col-sm-12 mt-2 col-12">
                <!--2nd col | 1st div-->
                <div class="col-row-4">

                    <div class="card" style="background-color:orangered; border-color:darkblue;">
                        <img class="card-img-top" src="holder.js/100x180/" height="100" alt="">
                        <div class="card-body">
                            <h4 class="card-title">add 100</h4>
                            <p class="card-text">Text</p>
                        </div>
                    </div>
                </div>
                
                <!---- 2nd col| 2div-->

            
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-center align-items-center active">
                        job details
                        
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        date:
                        <span class=" ">10/12/2022</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        qulifications :
                        <span class=" ">h.s</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        age limit :
                        <span class=" ">18 to 35 year</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Last date :
                        <span class=" ">15/21/2022</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Notice :
                        <span class=" ">Dwanlod</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        applaying link: 
                        <span class=" ">www.job.com</span>
                    </li>
                   
                </ul>
                <h1 class="m-3"> Descriptions for a job applying</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro voluptatibus fugiat maiores animi deserunt neque eos molestiae necessitatibus, magnam reiciendis accusamus, voluptas esse harum optio eum. Distinctio architecto provident adipisci.</p>
                
               
                
                   
                    


                   
                





            </div>




            
            

        <!--3th col-->
        <div class="col-md-3 col-sm-12 mt-2 ">
            <!--3th row | 1st div-->
            <div class="col-row-4 shadow p-2 border">
                <!--change data-->
                <div class="mb-3">
                    <label for="" class="form-label">Free jobs Natifications</label>
                    <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId"
                        placeholder="">
                        <small id="emailHelpId" class="form-text text-muted"></small>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <!--change data-->
            </div>
            <!--3th row | 2nd div-->
            <div class="col-row-4 shadow p-2 border">
                <!--change data-->
                <div class="card" style="background-color:orangered; border-color:darkblue;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
                <!--change data-->
            </div>
            <div class="col-row-4 shadow  border mt-2">
                <!--change data-->
                <div class="card" style="background-color:orangered; border-color:darkblue;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
                <!--change data-->
            </div>
            
        </div>
            
        
    </div>


    </div>



    </div>

    </div>
    <footer>

        <div style="height: 80px;" class="m-3 shadow">
            <nav class="navbar navbar-expand navbar-light bg-faded ">
                <ul class="nav nav-pills mx-auto">
                 
                  <li class="nav-item">
                      <a class="nav-link" href="#">home</a>
                  </li>
                  <li class="nav-item"> 
                      <a class="nav-link" href="#">Study Material</a>
                    </li>
                    
                </ul>
                
            </nav>
            <div class="text-primary text-center">Copyright &copy; 2022 || Designed By Rnt || </div>
        </div>
    </footer>



    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/user.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <!-- https://cdnjs.com/libraries/popper.js/2.5.4 -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"
    ></script> -->

    <!-- More: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
</body>

</html>